<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазин</title>
</head>
<body>
    <h1>Игры</h1>
    <ul>
        <h2>
            <li>{{ first }} <button><h3>Купить</h3></button></li>
            <li>{{ second }} <button><h3>Купить</h3></button></li>
            <li>{{ third }} <button><h3>Купить</h3></button></li>

        </h2>
    </ul>
    <form action="/" target="_blank">
        <button><h2>Вернуться на главную</h2></button>
    </form>
</body>
</html>